LTA_API_KEY=your_lta_datamall_account_key
MAPBOX_PUBLIC_TOKEN=pk.your_mapbox_public_token
ONEMAP_EMAIL=your_onemap_account_email
ONEMAP_PASSWORD=your_onemap_account_password
VAPID_PUBLIC_KEY=your_web_push_public_key
